
body {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#color{
    width: 400px;
    height: 400px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.white{
    color: white;
}
#control{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
}

#guess{
    font-size: xx-large;
    padding-top: 140px;
}

